/*! Custom Property */
:root {
  /*! Value Collections */

  /* COLORS */
  --clr-white-100: #FFFFFF;
  --clr-gray-50 : #FAFAFA;
  --clr-gray-200: #F9F9FA;
  --clr-gray-201: #E4E4E7;
  --clr-gray-300: #D4D4D8;
  --clr-gray-500: #71717a;
  --clr-coolGray-500: #6B7280;
  --clr-trueGray-500 : #737373;
  --clr-gray-900: #18181b;
  --clr-blue-600: #2563EB;
  --clr-red-600: #DC2626;

  /* Colors Specifications*/
  --clr-100: var(--clr-white-100);
  --clr-50: var(--clr-gray-50);
  --clr-200: var(--clr-gray-200);
  --clr-true-200: var(--clr-gray-201);
  --clr-300: var(--clr-gray-300);
  --clr-500: var(--clr-gray-500);
  --clr-cool-500: var(--clr-coolGray-500);
  --clr-true-500: var(--clr-trueGray-500);
  --clr-r-600: var(--clr-red-600);
  --clr-b-600: var(--clr-blue-600);
  --clr-900: var(--clr-gray-900);

  /* ============
     Typography 
     ============
  */
  --ff: 'Inter', sans-serif;

  --fs-18: 1.125rem;
  --fs-14: 0.875rem;
  --fs-12: 0.75rem;

  --fw-400: 400;
  --fw-500: 500;

  /* Font zises used */
  --fs-primary: var(--fs-18);
  --fs-secondary: var(--fs-14);
  --fs-accent: var(--fs-12);

  /* Font weights used */
  --fw-regular: var(--fw-400);
  --fw-medium: var(--fw-500);
}

/** Reset Explained: https://piccalil.li/blog/a-modern-css-reset/  */
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
* {
  margin: 0;
  padding: 0;
  font: inherit;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
}

/* Set core body defaults */
body {
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

a {
  text-decoration: none;
}

/* Make images easier to work with */
img,
picture,
svg {
  max-width: 100%;
  /* display: block; */
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }
  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* Reset Button */
button {
  background: none;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* 
   =========
   Utility
   =========
*/

/** COLORS */
.clr-100 {
  color: var(--clr-100);
}
.clr-200 {
  color: var(--clr-200);
}
.clr-300 {
  color: var(--clr-300);
}
.clr-500 {
  color: var(--clr-500);
}
.clr-cool-500 {
  color: var(--clr-cool-500);
}
.clr-true-500 {
  color: var(--clr-true-500);
}
.clr-b-600{
  color: var(--clr-b-600);
}
.clr-900 {
  color: var(--clr-900);
}

/** Font Family */
.ff {
  font-family: var(--ff);
}

/** Font-Size */
.fs-primary {
  font-size: var(--fs-primary);
}
.fs-secondary {
  font-size: var(--fs-secondary);
}
.fs-accent {
  font-size: var(--fs-accent);
}

/** Font Weights  */
.fw-medium {
  font-weight: var(--fw-medium);
}
.fw-regular {
  font-weight: var(--fw-medium);
}

/** Backgrounds*/
.bg-50 {
  background: var(--clr-50);
}
.bg-100 {
  background: var(--clr-100);
}
.bg-200 {
  background: var(--clr-200);
}
.bg-cool-500 {
  background: var(--clr-cool-500);
}
.bg-r-600{
  background: var(--clr-r-600);
}


.btn-fit {
  height: fit-content;
  margin-block: auto;
}

/* ========================================= */
body {
  font-family: var(--ff-body);

/** Borders */
.br-200{
  border: 1px solid var(--clr-true-200);
}

/** Other styles */
.txt-cap {
  text-transform: uppercase;
}

.flexy {
  display: flex;
}
/* ========================================= */
/*! Layout  */

/*! Header */
.header{
  justify-content: space-between;
  padding: 0.5em 1em 0.5em calc(1em - 0.8125em); //
}

/*! Left */
.menu-btn {
  margin-right: 1.5em;
  padding: 0.8125em 0.708125em;
}

/*! Tools */
.tools {
  width: 45%;
  justify-content: space-between;
}

.search-bar {
  width: 90%;
}

.search-bar input {
  padding: 0.5em;
  border-right: none;
  width: 100%;
}

.search-bar input::placeholder{
  color: var(--clr-300);
  font-size: var(--fs-secondary);
  font-weight: var(--fw-regular);
}

.search-btn {
  padding: 0.625em 1.625em;
}

.search-mic-btn {
  border-radius: 100%;
  padding: calc(0.375em * 2) 0.9em;
  margin-left: 1em;
}

/*! Right  */
.video-add-btn {
  padding: 0.375em 0.1875em;
}

.notification-btn {
  margin-inline: 1.5em;
  padding: 0.25em;
}

/*!===================================  */

/*! Main Section */
main {
  width: 70%;
  max-width: 853px;
}

/*! Container */
.container {
  margin-inline: auto;
  padding-top: 1.5em;
  width: 95%;
}

/** TOP Section Layout  */
/*! Current Video Details  */
.video-details {
  padding-top: 1.5em;
  padding-bottom: 1em;
}

/*! Views Details and User Interection buttons */
.views-interaction {
  padding-top: 0.625em;
}

/*! Interuction buttons container */
.interaction-list {
  justify-content: space-between;
  align-items: center;
  margin-left: auto;
}
/*! Interection buttons  */
.interaction-item {
  margin-left: 1.5em;
}

/*! Icons text description */
li span {
  margin-left: .5em;
}
.dot {
  width: 3px;
  height: 3px;
  border-radius: 50%;
  display: inline-block;
  margin-bottom: 0.1875em;
  margin-inline: 0.125em;
}

/*!============================= */
/*! Bottom Section Layout*/
.bottom-section {
  padding-top: 1em;
}

/*! Col 2 */
.col2 {
  width: 75%;
  margin-left: 1em;
}
.channel-info {
  padding-block: 0.375em;
}
.description {
  padding-block: 1em;
}

/*! Col 3 */
.col3 {
  margin-left: auto;
}
.subscribe-btn {
  padding: 0.5em 1.25em;
}

/*! =====================  */
/*! aside section*/
aside {
  width: 31%;
  margin-left: auto;
}
h4 {
  margin-right: 0.25em;
}
.video-item {
  padding-bottom: 0.5em;
}
.item-container__info {
  padding-left: .5em;
}