@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

/*! Custom Property */
:root {
  /* COLORS */
  --clr-black-0f: #0F0F0F;
  --clr-gray-12: #121212;
  --clr-gray-30: #303030;
  --clr-gray-21: #212121;
  --clr-black: #000;
  --clr-white: #FFFFFF;
  --clr-gray-AA: #AAAAAA;
  --clr-red:  #CC0000;
  
  /* --clr-gray-18: #181818; */

  /* Colors Specifications*/
  --clr-smoky-0f: var(--clr-black-0f);
  --clr-chinese-black-12: var(--clr-gray-12);
  --clr-dark-charcoal-30: var(--clr-gray-30);
  --clr-raisin-black-21: var(--clr-gray-21);
  --clr-black-00: var(--clr-black);
  --clr-white-ff: var(--clr-white);
  --clr-dark-gray-aa: var(--clr-gray-AA);
  --clr-boston-red-cc: var(--clr-red);
  
  /* --clr-eerie-black-18: var(--clr-gray-18); */
  
  /* ============
     Typography 
     ============
  */
  --ff: 'Roboto', sans-serif;

  --fs-18: 1.125rem;
  --fs-16: 1rem;
  --fs-14: 0.875rem;
  --fs-13: 0.813rem;
  --fs-12: 0.75rem;

  --fw-400: 400;
  --fw-700: 700;
}

/** Reset Explained: https://piccalil.li/blog/a-modern-css-reset/  */
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
* {
  margin: 0;
  padding: 0;
  font: inherit;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
}

/* Set core body defaults */
body {
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

a {
  text-decoration: none;
}

/* Make images easier to work with */
img,
picture,
svg {
  max-width: 100%;
  /* display: block; */
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }
  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* Reset Button */
button {
  background: none;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* 
   =========
   Utility
   =========
*/

/*! Fonts */
.ff {
  font-family: var(--ff);
}
.fc-whit {
  color: var(--clr-white-ff);
}
.fc-dark-gray {
  color: var(--clr-dark-gray-aa);
}
.fc-black {
  color: var(--clr-black-00);
}

.fs-18 {
  font-size: var(--fs-18);
}
.fs-16 {
  font-size: var(--fs-16);
}
.fs-14 {
  font-size: var(--fs-14);
}
.fs-13 {
  font-size: var(--fs-13);
}
.fs-12 {
  font-size: var(--fs-12);
}

.fw-semi-bold-700 {
  font-weight: var(--fw-700);
}
.fw-regular-400 {
  font-weight: var(--fw-400);
}

/*! Backgrounds */
.bg-white {
  background: var(--clr-white-ff);
}
.bg-smoky-0f {
  background: var(--clr-smoky-0f);
}
.bg-chinese-12 {
  background: var(--clr-chinese-black-12);
}
.bg-charcoal-30 {
  background: var(--clr-dark-charcoal-30);
}
.bg-raisin-21 {
  background: var(--clr-raisin-black-21);
}
.bg-black {
  background: var(--clr-black-00);
}
.bg-dark-gray-aa {
  background: var(--clr-dark-gray-aa);
}

.bg-boston-red {
  background: var(--clr-boston-red-cc);
}

/*! Borders */
.br-charcoal-30 {
  border: 1px solid var(--clr-dark-charcoal-30);
}
.br-dark-gray-aa {
  border: 1px solid var(--clr-dark-gray-aa);
}

/*! Separator */
.separator {
  border: none;
  height: 1px;
  margin-block: 1.25em;
}

/* !Other styles */
.txt-cap {
  text-transform: capitalize;
}
.txt-upper {
  text-transform: uppercase;
}

.btn-fit {
  height: fit-content;
  margin-block: auto;
}

.flexy {
  display: flex;
}

/* ========================================= */
/*! ========== Layout ============  */

/*! Header */
.header{
  justify-content: space-between;
  padding: 0.5em 1em;
}

/*! Left */
.menu-btn {
  margin-right: 1.5em;
  padding-inline: 0.75em;
  height: 100%;
}

/*! Tools */
.tools {
  width: 45%;
  justify-content: space-between;
}

.search-bar {
  width: 90%;
}

.search-bar input {
  padding: 0.5em;
  border-right: none;
  width: 100%;
}

input[type="text"].bg-chinese-12 {
  background: var(--clr-chinese-black-12);
}
input[type="text"].br-charcoal-30 {
  border: 1px solid var(--clr-dark-charcoal-30);
}

.search-bar input::placeholder{
  color: var( --clr-dark-gray-aa);
  font-size: var(--fs-16);
  font-weight: var(--fw-400);
}

.search-btn {
  padding: 0.625em 1.625em;
}

.search-mic-btn {
  border-radius: 100%;
  padding: calc(0.375em * 2) 0.9em;
  margin-left: 1em;
}

/*! Right  */
.right button {
  margin-left: 0.5em;
  padding-inline: 0.75em;
  height: 100%;
}
.right button:first-of-type {
  margin-left: 0;
}

.video-add-btn img{
  padding: 0.3125em 0.125em;
}
.apps-btn img{
  padding: 0.25em;
}
.notification-btn img{
  padding: 0.125em 0.25em;
}

/*!===================================  */

/*! Main Section */
main {
  width: 70%;
  max-width: 853px;
}

/*! Container */
.container {
  margin-inline: auto;
  padding-top: 1.5em;
  width: 95%;
}

/** TOP Section Layout  */
/*! Current Video Details  */
.video-details {
  padding-top: 1.5em;
  /* padding-bottom: 1em; */
}

/*! Views Details and User Interection buttons */
.views-interaction {
  padding-top: 0.625em;
}

/*! Interuction buttons container */
.interaction-list {
  justify-content: space-between;
  align-items: center;
  margin-left: auto;
}
/*! Interection buttons  */
.interaction-item {
  margin-left: 1.5em;
}

/*! Icons text description */
li span {
  margin-left: .5em;
}
.dot {
  width: 3px;
  height: 3px;
  border-radius: 50%;
  display: inline-block;
  margin-bottom: 0.1875em;
  margin-inline: 0.125em;
}

/* !comment section  */
.sort-container {
  padding-bottom: 1.25em;
}
.comment-txt {
  margin-right: 1.75em;
}
.sort-btn img{
  margin-right: 0.5em;
}

.user-comment {
  padding-bottom: 1.5em;
}

.user-comment button{
  justify-content: start;
  height: fit-content;
}
.comment {
  padding-left: 1em;
  width: 100%;
}
input[type="text"].comment-input {
  border: none;
  background: none;
  border-bottom: 1px solid  var(--clr-dark-charcoal-30);
  width: 100%;
}

.comment-interaction {
  margin-top: 0.5em;
}
.comment-interaction ul li {
  align-items: center;
  margin-right: 0.5em;
}
.comment-interaction ul li button {
  padding: 0.625em;
}
.comment-interaction ul li span {
  margin-left: 0;
}
.comment-interaction ul li a {
  padding: 0 0.5em;
  text-align: center;
}

/*!============================= */

/*! Bottom Section Layout*/
/*! Col 2 */
.col2 {
  width: 75%;
  margin-left: 1em;
}
.channel-info {
  padding-block: 0.375em;
}
.description {
  padding-block: 1em;
}

/*! Col 3 */
.col3 {
  margin-left: auto;
}
.subscribe-btn {
  padding: 0.5em 1.25em;
}

/*! =====================  */
/*! aside section*/
aside {
  width: 31%;
  margin-left: auto;
}
h4 {
  margin-right: 0.25em;
}
.sugg-container {
  position: relative;
  height: 50px;
  overflow: hidden;
}
.sugg-list {
  align-items: center;
  width: 200%;
  position: absolute;
}

.sugg-btn {
  border-radius: 2em;
  padding: 0.5em 0.75em;
  margin-right: 0.5em;
}
.sugg-spectial::after {
  content: '';
  width: 50px;
  height: 40px;
  background: linear-gradient(to right, transparent, #0F0F0F);
  position: absolute;
  top: 0;
  left: 45%;
}
.video-item {
  padding-bottom: 0.5em;
}
.item-container__info {
  padding-left: .5em;
}



/*!interactions */
button:hover{
  cursor: pointer;
}
.item-container:hover {
  cursor: pointer;
}